* {
	padding:0;
	margin:0;
	font-family: Arial;
	font-size:18px;
}

nav {
	padding: 10px;
	border-bottom: solid 1px #aaa;
}

.tabs.is-centered a {
    justify-content: center;
}

.tabs a li{
    background-color:green;
}